body {
    font-family: sans-serif;
    background-color: grey;
}

.App {
    background-color: white;
    padding: 10px;
}

.About {
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
}